@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="flex h-screen bg-gray-900">
    <!-- Nav Links -->
    <NavMenu />
    <!-- Main Content Area -->
    <main class="flex-1 overflow-auto bg-slate-800">
        <div class="h-full">
            @Body
        </div>
    </main>
</div>
