@page "/auth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<PageTitle>Auth</PageTitle>

<AuthorizeView>
    <Authorized>
    <h1>You are authenticated</h1>
    Hello @context.User.Identity?.Name!
    </Authorized>
    <NotAuthorized>
        <p>Please log in.</p>
    </NotAuthorized>
</AuthorizeView>
